@import '~bootstrap/dist/css/bootstrap.css';

// CSS perso to complete Bootstrap
body {
  height: 100vh;
  color: #424242;
}

input, select {
  border: none;
  margin-left: 20px;
  border-bottom: 1px solid #424242;
  background: transparent;
}

li {
  list-style: none;
}

input[type='checkbox'] {
  margin-right: 20px;
}

.nav-link {
  color: #424242;
}

.containerStyle {
  height: calc(100% - 130px);
}

.textStyle {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  margin: 0 20px 0 0;
}

.h1Style {
  font-size: 33px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#etudiant, #projet, #matiere, #intervenant {
  margin-bottom: 20px;
}

.footer {
  text-align: center;
}