{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <h2>Projet final pour Symfony de Léonie Grimoin</h2>
</div>
{% endblock %}
