{% extends 'base.html.twig' %}

{% block title %}Modifier l'étudiant{% endblock %}

{% block body %}
    <h1 class="h1Style">Modifier l'étudiant</h1>
    {{ include('etudiant/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="d-flex">
        <a class="btn btn-outline-dark mr-2" href="{{ path('etudiant_index') }}">Retour</a>
        {{ include('etudiant/_delete_form.html.twig') }}
    </div>

{% endblock %}
