{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet{% endblock %}

{% block body %}
    <h1 class="h1Style">Ajouter un projet</h1>

    {{ include('projet/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('projet_index') }}">Retour</a>
{% endblock %}